body {
  font-family: Arial;
  background: #1e1e1e;
  color: white;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

section {
  background: #2b2b2b;
  padding: 15px;
  border-radius: 10px;
  width: 25%;
}

button {
  margin-top: 5px;
  cursor: pointer;
}

#notifications {
  position: fixed;
  top: 20px;
  right: 20px;
}

.notification {
  background: #333;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
